.pk-autoback-water {
  padding: 10px 25px;
}
.pk-autoback-water .pk-autoback-head {
  height: 50px;
}
.pk-autoback-water .pk-autoback-head h1 {
  float: left;
  line-height: 50px;
  font-size: 18px;
  color: #111;
}
.pk-autoback-water .pk-autoback-head .pk-autoback-btn {
  float: right;
  font-size: 14px;
}
.pk-autoback-water .pk-autoback-head .pk-autoback-btn .btn {
  border: 0;
  width: 111px;
  height: 36px;
  background-color: #5985f7;
  border-radius: 18px;
}
.pk-autoback-water .pk-autoback-head .pk-autoback-btn .btn:focus {
  outline: none;
}
.pk-autoback-water .pk-autoback-head .pk-autoback-btn #backdetails {
  color: #9198ad;
  background-color: #fff;
  border: solid 1px #e8e8e8;
}
.pk-autoback-water .pk-center-tit {
  margin-top: 10px;
  height: 50px;
}
.pk-autoback-water .pk-center-tit h1 {
  float: left;
  line-height: 50px;
  font-size: 18px;
  color: #111;
}
.pk-autoback-water .pk-center-tit .pk-center-titright {
  float: right;
  padding-top: 5px;
}
.pk-autoback-water .pk-center-tit .pk-center-titright .pk-backwater {
  float: left;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
}
.pk-autoback-water .pk-center-tit .pk-center-titright .pk-backwater .pk-money {
  margin-right: 10px;
  color: #ff6464;
}
.pk-autoback-water .pk-center-tit .pk-center-titright .pk-backwater .pk-money span {
  font-size: 26px;
}
.pk-autoback-water .pk-autoback-center {
  width: 100%;
  text-align: center;
  border: 1px solid #e8e8e8;
}
.pk-autoback-water .pk-autoback-center .pk-table-head {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f5f6fa;
  border-bottom: 1px solid #e8e8e8;
  color: #111111;
}
.pk-autoback-water .pk-autoback-center .pk-table-head .pk-table-th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pk-autoback-water .pk-autoback-center .pk-table-head .pk-table-th::before {
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background-color: #d7d6d6;
}
.pk-autoback-water .pk-autoback-center .pk-table-head .pk-table-th:last-child::before {
  width: 0;
}
.pk-autoback-water .pk-autoback-center .pk-table-cent .pk-table-tr {
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px #e8e8e8;
}
.pk-autoback-water .pk-autoback-center .pk-table-cent .pk-table-tr .pk-table-td {
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pk-autoback-water .pk-autoback-center .pk-table-cent .pk-table-tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.pk-autoback-water .pk-autoback-center .pk-table-cent .pk-table-tr:last-child {
  border: 0;
}
.pk-autoback-water .pk-autoback-center .pk-table-cent .pk-table-tr:hover {
  background-color: #f2f6ff;
}
