#pk_withdrawResult {
  padding: 0 25px 30px 25px;
}
#pk_withdrawResult .pk-withdrawResult-box {
  margin-top: 30px;
}
#pk_withdrawResult .pk-withdrawResult-box h3 {
  font-size: 18px;
  color: #111111;
}
#pk_withdrawResult .pk-withdrawResult-box .pk-withdrawResult-cent {
  margin-top: 18px;
  padding: 16px 20px;
  width: 100%;
  background-color: #f5f6fa;
  border: solid 1px #e8ecef;
}
#pk_withdrawResult .pk-withdrawResult-box .pk-withdrawResult-cent .pk-withdrawResult-list {
  margin-top: 12px;
  line-height: 1;
}
#pk_withdrawResult .pk-withdrawResult-box .pk-withdrawResult-cent .pk-withdrawResult-list:first-child {
  margin-top: 0;
}
#pk_withdrawResult .pk-withdrawResult-box .pk-withdrawResult-cent .pk-withdrawResult-list label {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #2b2b2b;
  min-width: 100px;
  text-align-last: justify;
}
#pk_withdrawResult .pk-withdrawResult-box .pk-withdrawResult-cent .pk-withdrawResult-list .pk-withdrawResult-list-cent {
  display: inline-block;
}
#pk_withdrawResult .pk-withdrawResult-box .pk-audit-center {
  margin-top: 13px;
}
#pk_withdrawResult .pk-withdrawResult-box .pk-deposit-money {
  overflow: initial;
  position: relative;
}
#pk_withdrawResult .pk-withdrawResult-todo {
  margin: 14px 0 0 0;
}
#pk_withdrawResult .pk-withdrawResult-todo .pk-withdrawResult-dissatisfy p {
  font-weight: bold;
  font-size: 18px;
  color: #ee4c4c;
  line-height: 1;
  margin-bottom: 22px;
}
#pk_withdrawResult .pk-withdrawResult-todo .pk-withdrawResult-dissatisfy .pk-withdrawResult-btn-blue {
  width: 200px;
  height: 46px;
  background-color: #5985f7;
  box-shadow: 0px 2px 16px 1px rgba(89, 133, 247, 0.63);
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
}
#pk_withdrawResult .pk-withdraw-result {
  margin-top: 66px;
}
#pk_withdrawResult .pk-withdraw-result .pk-withdraw-result-box {
  text-align: center;
  line-height: 1;
}
#pk_withdrawResult .pk-withdraw-result .pk-withdraw-result-box i {
  font-size: 90px;
  color: #49c74e;
}
#pk_withdrawResult .pk-withdraw-result .pk-withdraw-result-box h5 {
  margin-top: 28px;
  font-size: 18px;
  color: #111111;
}
#pk_withdrawResult .pk-withdraw-result .pk-withdraw-result-box p {
  margin-top: 16px;
  margin-bottom: 50px;
  font-size: 18px;
  color: #2b2b2b;
}
#pk_withdrawResult .pk-withdrawResult-satisfy .pk-withdrawResult-btn-blue {
  width: 200px;
  height: 46px;
  background-color: #5985f7;
  box-shadow: 0px 2px 16px 1px rgba(89, 133, 247, 0.63);
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
}
#pk_withdrawResult .pk-withdrawResult-satisfy .pk-withdrawResult-btn-wihte {
  margin-left: 16px;
  width: 200px;
  height: 46px;
  background-color: #ffffff;
  box-shadow: 0px 2px 16px 1px rgba(255, 255, 255, 0.63);
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  font-size: 18px;
  color: #9198ad;
}
#pk_withdrawResult button:active {
  opacity: .7;
}
#pk_withdrawResult .pk-order-box {
  margin-top: 96px;
}
#pk_withdrawResult .pk-order-box .pk-withdrawResult-cent {
  padding: 60px 0 60px 200px;
}
#pk_withdrawResult .pk-nodata {
  margin: 30px auto;
}
#pk_withdrawResult .pk-text-blue {
  color: #5985f7;
}
#pk_withdrawResult .pk-text-red {
  color: #ff6767;
}
#pk_withdrawResult .pk-text-green {
  color: #49c74f;
}
#pk_withdrawResult .pk-text-big {
  color: #000000;
  font-weight: bold;
}
#pk_withdrawResult .pk-income-success-carousel {
  margin-top: 30px;
  margin-bottom: 48px;
}
#pk_withdrawResult .pk-income-success-carousel .item {
  width: 100%;
  height: 168px;
  cursor: pointer;
}
#pk_withdrawResult .pk-income-success-carousel .item img {
  width: 100%;
  height: 100%;
  display: block;
}
