* {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}
* a:hover {
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.main {
  padding-bottom: 1.2rem /* 120/100 */;
}
.main .nav-top {
  width: 100%;
  height: 3.61rem;
  /* 288/100 */
  background-image: linear-gradient(0deg, #ffffff 0%, #ccf5ff 100%), linear-gradient(#ffffff, #ffffff);
  background-blend-mode: normal,
        normal;
}
.main .nav-top .header-bg-img {
  width: 100%;
  display: block;
}
.main .nav-top .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.main header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.26rem;
  height: 0.88rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main header .domain {
  display: flex;
  align-items: center;
  width: 75%;
}
.main header .domain .logo {
  height: 0.68rem;
}
.main header .domain p {
  margin-left: 0.3rem;
  font-size: 0.24rem;
  color: #333333;
  line-height: 1;
}
.main header .checkLang {
  position: relative;
  padding-right: 0.24rem;
  font-size: 0.24rem;
  font-weight: bold;
  color: #333333;
  line-height: 1;
}
.main header .checkLang::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.04rem;
  width: 0;
  height: 0;
  border: 0.08rem solid transparent;
  border-top-color: #333333;
}
.main .nav-carousel {
  position: absolute;
  top: 0.88rem /* 88/100 */;
  left: 0;
  width: 100%;
  padding: 0 0.26rem /* 26/100 */;
  box-sizing: border-box;
}
.main .nav-carousel .swiper-slide {
  border-radius: 0.28rem /* 28/100 */;
}
.main .nav-carousel .swiper-slide img {
  width: 100%;
  height: 2.16rem /* 216/100 */;
  background-color: #a0a0a0;
  border-radius: 0.28rem /* 28/100 */;
}
.main .nav-carousel .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 0.08rem /* 8/100 */;
  height: 0.08rem /* 8/100 */;
}
.main .nav-carousel .swiper-pagination .swiper-pagination-bullet-active {
  background: #ff3333;
  width: 0.1rem /* 10/100 */;
  height: 0.1rem /* 10/100 */;
}
.main .nav-scroll {
  top: 3.2rem;
  clear: both;
  width: 100%;
  position: absolute;
  /* top: 156px; */
  height: 0.3rem;
}
.main .nav-scroll .scroll-box {
  height: 0.37rem /* 37/100 */;
  line-height: 0.37rem /* 37/100 */;
  font-size: 0.24rem /* 24/100 */;
  padding: 0 0.26rem /* 26/100 */;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .nav-scroll .scroll-box img {
  width: 0.37rem /* 37/100 */;
  height: 0.37rem /* 37/100 */;
  vertical-align: middle;
}
.main .nav-scroll .scroll-box .scroll-content {
  font-size: 0.26rem /* 26/100 */;
  color: #666666;
}
.nav-down-in {
  margin-top: 0.3rem /* 30/100 */;
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
}
.nav-down-in .nav-download,
.nav-down-in .nav-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.31rem;
  height: 1.45rem;
  text-align: center;
  font-size: 0.3rem;
  font-weight: bold;
  color: #ffffff;
}
.nav-down-in .nav-download .text,
.nav-down-in .nav-contact .text {
  position: relative;
  display: inline-block;
  padding-left: 0.52rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-down-in .nav-download .text::before,
.nav-down-in .nav-contact .text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.32rem;
  height: 0.32rem;
}
.nav-down-in .nav-download {
  background: url("img/xz_button.png") no-repeat;
  background-size: 100%;
}
.nav-down-in .nav-download .text::before {
  background: url("img/xz_btn_appxz.png") no-repeat;
  background-size: 0.32rem 0.32rem;
}
.nav-down-in .nav-contact {
  background: url("img/lxkf_button.png") no-repeat;
  background-size: 100%;
}
.nav-down-in .nav-contact .text::before {
  background: url("img/xz_btn_lxkf.png") no-repeat;
  background-size: 0.32rem 0.32rem;
}
.line-list {
  padding: 0.26rem /* 26/100 */ 0.26rem /* 26/100 */ 0;
}
.line-list ul li {
  height: 1.16rem /* 116/100 */;
  display: flex;
  margin-bottom: 0.2rem /* 20/100 */;
  background-color: #ffffff;
  padding-left: 0.25rem /* 25/100 */;
  border-radius: 0.58rem /* 58/100 */;
  align-items: center;
  box-shadow: 0px 0.04rem 0.18rem 0px rgba(167, 167, 167, 0.2);
}
.line-list ul li .game-imgStyle {
  margin-right: 0.15rem;
}
.line-list ul li .game-imgStyle img {
  width: 0.7rem;
  height: 0.7rem;
}
.line-list ul li .game-url {
  flex: 1;
  font-size: 0.28rem /* 28/100 */;
  color: #000000;
  width: 4.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.line-list ul li .game-status {
  width: 1.35rem /* 135/100 */;
  font-size: 0.28rem /* 28/100 */;
  color: #acacac;
  position: relative;
}
.line-list ul li .game-status.ok {
  color: #5cbcff;
}
.line-list ul li .game-status.no {
  color: #ff0000;
}
.line-list ul li .game-status.wain {
  color: #ff9535;
}
.line-list ul li .game-btn {
  margin-left: 0.06rem;
  width: 1.4rem;
  height: 0.56rem;
  background-color: #5cbcff;
  border-radius: 0.28rem;
  font-size: 0.24rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.56rem;
}
.langList-box {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.langList-box .langList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.28rem;
  text-align: center;
  background-color: #fff;
}
.langList-box .langList .title {
  height: 0.8rem;
  line-height: 0.8rem;
  border-bottom: 1px solid #f1f1f1;
}
.langList-box .langList .langData {
  padding: 0.2rem 0;
}
.langList-box .langList .langData .lang-item {
  height: 0.8rem;
  line-height: 0.8rem;
}
.langList-box .langList .langData .lang-item.active {
  color: #fe4b58;
}
